    /* Style des boutons */
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35vh;
      }
  
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        margin: 10px;
        text-align: center;
        background-color: #e6e6e6;
        border-radius: 10px;
        cursor: pointer;
      }
  
      /* Style des images */
      .button img {
        max-width: 100%;
        max-height: 100%;
      }