<header class="headerClass">

 
    <nav class="siteNavigation">
      <ul class="nav">
        <li><a href="http://localhost:8080/card">Collection</a></li> 
        <li><a href="http://localhost:8080/form">Générateur</a></li> 
        <li><a href="http://localhost:8080/market">Marché</a></li> 
      </ul>
    </nav>
	
	
	<div id="connexion">
		<label class="fontForm" for="username">Identifiant</label>
        <input class="inputForm" type="text" id="usernameInputLogin" name="usernameInputLogin">
        <label class="fontForm" for="password">Mot de passe</label>
        <input class="inputForm" type="password" id="passwordInputLogin" name="passwordInputLogin">
        <button class="fontForm" type="submit" name="connectButton" onclick=sendLogin()>Connexion</button>
    	<a class="fontForm" id="registerBtn" href="inscription">Inscription</a>
	</div>
	
	<div id="deconnexion">
    	<p>Vous êtes connecté</p>
		<p id="moneyP">Money : </p>
		<button class="fontForm" type="submit" name="deconnectButton" onclick=resetCookie()>Déconnexion</button>
	</div>
</header>
    
    
    



